<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h3>Thanks!</h3>
	<p>Your URL input: <%=oldURL %></p>

	<p>Your generated small url is: <a href="/<%=key %>">http://usmall.herokuapp.com/<%=key %></a></p>
	<!-- <p>Your generated small url is: <a href="/<%=key %>"><%=key %></a></p> -->


</body>
</html>